DEFAULT_USER="firstlast"

export CC="$HOME/local/bin/clang"
export CXX="$HOME/local/bin/clang++"
export CPP="$HOME/local/bin/clang++"

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

#-------------------------------------------------------------------------------
# SSH tunnels
#-------------------------------------------------------------------------------
alias tunnel_example='ssh -o ServerAliveInterval=60 -NCL 50000:localhost:1234 example'
