[core]
	excludesfile = ~/.gitignore_global
	editor = emacs --quick
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[include]
	path = ~/.gitconfig_system
[pull]
	ff = only
[init]
	defaultBranch = main
